* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: rgb(170, 200, 214);
    box-sizing: border-box;
}

.menu {
    font-size: 32px;
}

#title {
    font-size: 48px;
}

#recipes-title {
    font-size: 1em;
}

.recipes-list {
    font-size: large;
}

.recipe-link{
    width: 200px;
    height: auto;
    margin: 16px auto;
    padding: 10px;
    font-size: 1em;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(213, 252, 255);
}

.ingredient-list {
    font-size: 18px;
}



